[Unit]
Description=raku-Kris persistent /usr overlay
DefaultDependencies=no
After=ostree-prepare-root.service
Before=initrd-root-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/raku-kris-overlay
RemainAfterExit=yes

[Install]
WantedBy=initrd-root-fs.target
